// @import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sunflower:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    // font-family: 'Sunflower', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #f1f1f1;
    // first page
    .quizApp {
        width: 320px;
        height: 580px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
        border-radius: 30px;

        .img {
            img {
                width: 100%;
            }
        }
        .text {
            width: 90%;
            margin: 0 auto;
            P {
                line-height: 1.6;
                font-size: 14px;
            }
            h3 {
                margin-top: 20px;
            }
        }
        .btn {
            position: absolute;
            right: 0;
            bottom: 0;
            button {
                font-size: 20px;
                font-weight: 600;
                background-color: #00BFA6;
                color: white;
                border: none;
                outline: none;
                padding: 10px 25px;
                border-radius: 30px 0 ;
                cursor: pointer;
                transition: all 0.3s ease-in;

                &:hover {
                    background-color: #2F2E41;
                    color: white;
                }
            }
        }
    }
    // second page
    .rulesBox.activeInfo {
        opacity: 1;
        z-index: 5;
        pointer-events: auto;
        
    }
    .rulesBox {
        width: 320px;
        height: 580px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
        border-radius: 30px;
        opacity: 0;
        pointer-events: none;



        .rulesList {
            width: 80%;
            margin: 0 auto;

            ol {
                li {
                    font-size: 16px;
                    padding: 20px 0;
                    font-weight: 500;
                }
            }
        }
        .rulesTitle {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 1px solid #2F2E41;
            padding: 15px 0;
        }
        .rulesBtn {
            .exitBtn {
                position: absolute;
                left: 0;
                bottom: 0;
                font-size: 20px;
                font-weight: 600;
                background-color: #00BFA6;
                color: white;
                border: none;
                outline: none;
                padding: 10px 25px;
                border-radius: 0 30px;
                cursor: pointer;
                transition: all 0.3s ease-in;

                &:hover {
                    background-color: #2F2E41;
                    color: white;
                }
            }
            .continueBtn {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 20px;
                font-weight: 600;
                background-color: #00BFA6;
                color: white;
                border: none;
                outline: none;
                padding: 10px 25px;
                border-radius: 30px 0 ;
                cursor: pointer;
                transition: all 0.3s ease-in;

                &:hover {
                    background-color: #2F2E41;
                    color: white;
                }
            }
        }
    }
    

    .questions {
        width: 320px;
        height: 580px;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #fff;
        box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
        transform: translate(-50%, -50%);
        border-radius: 30px;

        .questionHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto;
            height: 70px;

            .title {
                font-size: 15px;
                font-weight: 600;
            }
            .timeCount {
                display: flex;
                justify-content: space-between;
                border: 1px solid #cce5ff;
                background-color: #cce5ff;
                align-items: center;
                padding: 5px;

                .seconds {
                    font-size: 20px;
                    font-weight: 600;
                    background-color: #2F2E41;
                    color: white;
                    padding: 5px;
                    margin-left: 10px;
                }
            }
        }
        .timeLines {

        }

        .questionSection {
            width: 80%;
            margin: 0 auto;
            padding: 30px 0;

            .questionText {
                font-size: 24px;
                font-weight: 600;
            }
            .allOptions {
                padding: 20px 0;
                display: block;

                .options {
                    background-color: aliceblue;
                    border: 1px solid #84c5fe;
                    border-radius: 5px;
                    padding: 8px 15px;
                    font-size: 16px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: all 0.3s ease-in-out;


                    &:hover {
                        background-color: #cce5ff;
                        color: #004085;
                        border: 1px solid #b8daff;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
        footer {
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px solid #2F2E41;
            margin-top: 45px;
            // bottom: 0;

            .totalQue {
                font-weight: 500;
                position: absolute;
                bottom: 15px;
                font-size: 16px;
                padding-left: 20px;
            }
            button {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 18px;
                font-weight: 600;
                background-color: #00BFA6;
                color: white;
                border: none;
                outline: none;
                padding: 10px 25px;
                border-radius: 30px 0 ;
                cursor: pointer;
                transition: all 0.3s ease-in;

                &:hover {
                    background-color: #2F2E41;
                    color: white;
                }
            }
        }
    }
}