@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Sunflower:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f1f1f1;
}

body .quizApp {
  width: 320px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
}

body .quizApp .img img {
  width: 100%;
}

body .quizApp .text {
  width: 90%;
  margin: 0 auto;
}

body .quizApp .text P {
  line-height: 1.6;
  font-size: 14px;
}

body .quizApp .text h3 {
  margin-top: 20px;
}

body .quizApp .btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

body .quizApp .btn button {
  font-size: 20px;
  font-weight: 600;
  background-color: #00BFA6;
  color: white;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 30px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body .quizApp .btn button:hover {
  background-color: #2F2E41;
  color: white;
}

body .rulesBox.activeInfo {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
}

body .rulesBox {
  width: 320px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
  opacity: 0;
  pointer-events: none;
}

body .rulesBox .rulesList {
  width: 80%;
  margin: 0 auto;
}

body .rulesBox .rulesList ol li {
  font-size: 16px;
  padding: 20px 0;
  font-weight: 500;
}

body .rulesBox .rulesTitle {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #2F2E41;
  padding: 15px 0;
}

body .rulesBox .rulesBtn .exitBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 20px;
  font-weight: 600;
  background-color: #00BFA6;
  color: white;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 0 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body .rulesBox .rulesBtn .exitBtn:hover {
  background-color: #2F2E41;
  color: white;
}

body .rulesBox .rulesBtn .continueBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
  font-weight: 600;
  background-color: #00BFA6;
  color: white;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 30px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body .rulesBox .rulesBtn .continueBtn:hover {
  background-color: #2F2E41;
  color: white;
}

body .questions {
  width: 320px;
  height: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 30px;
}

body .questions .questionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 70px;
}

body .questions .questionHeader .title {
  font-size: 15px;
  font-weight: 600;
}

body .questions .questionHeader .timeCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #cce5ff;
  background-color: #cce5ff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

body .questions .questionHeader .timeCount .seconds {
  font-size: 20px;
  font-weight: 600;
  background-color: #2F2E41;
  color: white;
  padding: 5px;
  margin-left: 10px;
}

body .questions .questionSection {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

body .questions .questionSection .questionText {
  font-size: 24px;
  font-weight: 600;
}

body .questions .questionSection .allOptions {
  padding: 20px 0;
  display: block;
}

body .questions .questionSection .allOptions .options {
  background-color: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .questions .questionSection .allOptions .options:hover {
  background-color: #cce5ff;
  color: #004085;
  border: 1px solid #b8daff;
}

body .questions .questionSection .allOptions .options span {
  font-size: 14px;
}

body .questions footer {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #2F2E41;
  margin-top: 45px;
}

body .questions footer .totalQue {
  font-weight: 500;
  position: absolute;
  bottom: 15px;
  font-size: 16px;
  padding-left: 20px;
}

body .questions footer button {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 18px;
  font-weight: 600;
  background-color: #00BFA6;
  color: white;
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 30px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body .questions footer button:hover {
  background-color: #2F2E41;
  color: white;
}
/*# sourceMappingURL=style.css.map */